.defaultHero, .roomHero{
    background: url(./../images/defaultBcg.jpeg) no-repeat center center;
    min-height: calc(100vh - 57px);
    background-size: cover; /* cover full page*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomHero{
    min-height: 60vh;
}


.HeroBanner{
    background: var(--blackLight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.HeroBanner hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--primaryColor);
    width: 30%;
}

.banner-title{
    color: var(--mainWhite);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    overflow: auto;
    text-align: center;
}

.HeroBanner p{
    color: var(--mainWhite);
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.btn-banner{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--primaryColor);
    border: 3px solid var(--primaryColor);
    cursor: pointer;
    letter-spacing: 2px;
}

.btn-banner:hover, .btn-banner:focus{
    background-color: transparent;
    color: var(--primaryColor);
}

@media screen and (min-width: 776px) {
    .HeroBanner{
        padding: 3rem 3rem;
    }
}
  @media screen and (min-width: 992px) {
    .HeroBanner{
        padding: 3rem 5rem;
    }
}
